html{
    height: 100%;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 75px;

}
.indexBody,
.aboutBody{
    background: url(../asset/img/bac.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}

h1,
h2{
    color: rgb(255, 255, 255);
}

h1{
    font-weight: bold;
    font-size: 5em;
    text-shadow: 0px 5px 3px rgb(69, 69, 69); 
}

h2{
    text-shadow: 0px 3px 3px rgb(69, 69, 69); 
}

label{
    color: #333;
}

.inner{
    padding-top: 30%;
    text-align: center;

}
hr{
    -webkit-box-shadow: 10px 3px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 3px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 3px 2px 0px rgba(0,0,0,0.75);
}
.aboutSection p{
    color: #FFF;
    font-size: 2em;
     text-shadow: 0px 3px 3px rgb(69, 69, 69); 
}
